/* Ignacio Llaneza Aller UO294914 */
/*Selector Specificity: (001)*/
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*Selector Specificity: (013)*/
main section:nth-of-type(2)>div {
    width: 60vw; 
    height: 30vw; 
}

@media screen and (max-width: 465px) {
    /*Selector Specificity: (001)*/
    header{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}
